  
* {
  box-sizing: border-box;
}

h1 {
color: black;
font-size: 4em;
font-style: normal;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;

}

body {
  background: -webkit-linear-gradient(rgb(141, 139, 139), rgb(255, 255, 255)) no-repeat;
 

  color: rgb(7, 44, 167);
}

img:first-child {
  float: left;
}
img {
  float: right;
  width: 300px;
  height: 300px;

}

